.card {
  margin-bottom: 2rem;
  background-color: var(--color-light);
  padding: var(--size-padding);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-md);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card:last-child {
  margin-bottom: 0;
}

.card__container-img {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-md);

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.card__img-head {
  font-size: var(--font-size-xs);
  width: 100%;
  height: 3em;
  padding: 0 1em 0;

  background-color: var(--color-light);

  display: flex;
  align-items: center;
}

.card__window-controls {
  margin-right: 0.75em;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5em;
}

.card__window-controls > * {
  width: 1.125em;
  height: 1.125em;
  border-radius: 50%;
}

.card__window-controls > *:nth-child(1) {
  background-color: var(--color-danger);
}

.card__window-controls > *:nth-child(2) {
  background-color: var(--color-warning);
}

.card__window-controls > *:nth-child(3) {
  background-color: var(--color-success);
}

.card__url-txt {
  font-size: 1em;
  width: 65%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin: 0 auto 0;
  padding: 0.5em 1em;

  border-radius: var(--border-radius-xs);
  border: 1px solid var(--color-light-darkest);
  background-color: var(--color-light-darker);
}

.card__img {
  width: 100%;
  height: unset;
}

.card__info {
  display: flex;
  flex-direction: column;
}

.card__title {
  margin: 0 0 0.75em 0;
  font-size: var(--font-size-2xl);
}

.card__title::after {
  content: "";
  display: block;
  height: 0.15em;
  width: 10rem;
  background-color: var(--color-primary);
  border-radius: var(--border-radius-md);
}

.card .card__desc {
  margin: 0 0 0.75em 0;
  color: var(--color-secondary);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: 500;
}

.card__tech-stacks {
  margin-bottom: 1.25em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  flex-wrap: wrap;
}

.card__tech-stack {
  padding: 0.25em 0.5em;
  border-radius: var(--border-radius-xs);
  background-color: var(--color-secondary);
  color: var(--color-light);
  font-size: var(--font-size-xs);
  font-weight: 500;
}

.card__links {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
}

.card__link__icon {
  font-size: var(--font-size-xl);
}

@media (--lg-viewport) {
  .card {
    align-items: center;
  }

  .card:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .card:nth-child(even) {
    flex-direction: row;
  }

  .card__container-img {
    min-width: 0;
    flex: 4;
  }

  .card__info {
    flex: 3;
  }
}
