.contact__link {
  color: var(--color-primary);
}

/* form */
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-weight: 500;
}

.contact__textarea {
  resize: none;
  min-height: 10em;
}

.contact__input,
.contact__textarea,
.contact__button {
  padding: 0.75rem;
}

.contact__input,
.contact__textarea {
  margin-bottom: 1em;
  width: 100%;
  border: 0.075em solid var(--color-secondary);
  border-radius: var(--border-radius-xs);
}

.contact__input:focus,
.contact__textarea:focus {
  outline: none;
  border-color: var(--color-primary);
}

.contact__button {
  border: none;
  border-radius: var(--border-radius-xs);
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;

  font-weight: inherit;
}

/* media queries */
@media (hover: hover) {
  .contact__button:hover {
    background-color: var(--color-primary-dark);
  }
}

@media (min-width: 800px) {
  .contact__input,
  .contact__textarea {
    width: 75%;
  }
}
