.footer {
  background-color: var(--color-black);
  color: var(--color-white);
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__section {
  display: flex;
  flex-direction: column;
}

.footer__h6 {
  margin: 0 0 0.25em 0;
  font-size: 1em;
  font-weight: 600;
}

.footer__link {
  font-size: 0.9em;
  font-weight: 400;
  color: var(--color-secondary);
  text-decoration: none;
}

.footer__link:hover {
  color: var(--color-primary);
}
