---
import { getCollection } from "astro:content";
import { TbFileFilled, TbRss } from "react-icons/tb";

import Layout from "@layouts/Layout.astro";
import BlogPreview from "@/components/BlogPreview.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const canonicalHref = canonicalURL.toString().replace(/\/$/, "");

const blogs = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout
  title="Blog - Alexander Gabriel Ho"
  description="Explore web development tips, coding tutorials, and personal insights from Alexander Gabriel Ho. Discover new articles on programming, technology trends, and the journey of a modern developer."
  canonicalURL={canonicalHref}
>
  <slot name="head">
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed"
      href={new URL("blog/rss.xml", Astro.site)}
    />
  </slot>

  <main class="container">
    <h1>Blog</h1>

    <div class="blog-hero">
      <div class="blog-hero__item">
        <TbFileFilled />

        <p>
          {blogs.length} Blog post{blogs.length === 1 ? "" : "s"}
        </p>
      </div>

      <a href="/blog/rss.xml" class="blog-hero__item link link--no-underline">
        <TbRss />
         Subscribe to RSS feed</a
      >
    </div>

    <BlogPreview blogs={blogs} />
  </main>

  <style>
    .container {
      padding-top: var(--spacing-xl);
      padding-bottom: var(--spacing-xl);
    }

    .blog-hero {
      margin-bottom: var(--spacing-xs);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .blog-hero p {
      margin-top: 0;
      margin-bottom: 0;
    }

    .blog-hero__item {
      display: flex;
      align-items: center;
      gap: var(--spacing-md);
    }
  </style>
</Layout>
