.footer {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__section {
  display: flex;
  flex-direction: column;
}

.footer__title {
  margin: 0 0 0.25em 0;
  font-size: var(--font-size-lg);
  font-weight: 600;
}

.footer__link {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: 400;
  color: var(--color-secondary);
  text-decoration: none;
}

.footer__link:hover {
  color: var(--color-primary);
}
