.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-code {
  margin: 0;
  font-size: var(--font-size-9xl);
  font-weight: bolder;
}

.title {
  margin-top: 0;
  text-transform: uppercase;
}
