section:nth-child(odd) {
  background-color: var(--color-white);
}

section:nth-child(even) {
  background-color: var(--color-dark-white);
}

section h2 {
  margin-top: 0;
  color: var(--color-primary);
}
