:root {
  --color-primary: #1c7ed6;
  --color-secondary: #6c757d;
  --color-success: #37b24d;
  --color-danger: #f03e3e;
  --color-warning: #f59f00;

  --color-dark: #231f20;
  --color-light: #ffffff;
  --color-light-darker: #e6e6e6;
  --color-light-darkest: #cccccc;

  /* for font size */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-9xl: 8rem;

  --font-size-heading-1: 2.125rem;
  --font-size-heading-2: 1.625rem;
  --font-size-heading-3: 1.375rem;
  --font-size-heading-4: 1.125rem;
  --font-size-heading-5: 1rem;
  --font-size-heading-6: 0.875rem;

  /* for line height */
  --line-height-xs: 1.4;
  --line-height-sm: 1.45;
  --line-height-md: 1.55;
  --line-height-lg: 1.6;
  --line-height-xl: 1.65;
  --line-height-2xl: 1.75;
  --line-height-3xl: 1.875;
  --line-height-4xl: 1.95;
  --line-height-5xl: 2;
  --line-height-6xl: 2.1;
  --line-height-7xl: 2.2;
  --line-height-8xl: 2.3;
  --line-height-9xl: 2.4;

  /* for container spacing */
  --size-max-width-lg: 1366px;
  --size-max-width-md: 1140px;

  --spacing-xs: 0.625rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 2rem;

  /* for border radius */
  --border-radius-xs: 0.125rem;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 2rem;

  /* box shadow */
  --box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  --content-box-shadow: 0 2px 6px var(--color-light-darkest),
    0 8px 24px var(--color-light-darkest),
    0 16px 32px var(--color-light-darkest);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  /* background-size: 100% 600px; */
}

html {
  font-family: "Poppins", "Montserrat", "Segoe UI", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: var(--color-dark);
  overflow-x: hidden;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;

  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 700;
}

h1 {
  font-size: var(--font-size-heading-1);
  line-height: 1.3;
}

h2 {
  font-size: var(--font-size-heading-2);
  line-height: 1.35;
}

h3 {
  font-size: var(--font-size-heading-3);
  line-height: 1.4;
}

h4 {
  font-size: var(--font-size-heading-4);
  line-height: 1.45;
}

h5 {
  font-size: var(--font-size-heading-5);
  line-height: 1.5;
}

h6 {
  font-size: var(--font-size-heading-6);
  line-height: 1.5;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-primary);
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

.prose p {
  margin-top: 0;
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  background-color: var(--color-light-darker);
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--color-primary);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

@media (--lg-viewport) {
  html {
    font-size: 18px;
  }
  /* main {
    padding: 1em;
  } */
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
