:root {
  --color-primary: #1c7ed6;
  --color-secondary: #6c757d;
  --color-success: #37b24d;
  --color-danger: #f03e3e;
  --color-warning: #f59f00;

  --color-dark: #231f20;
  --color-light: #ffffff;
  --color-light-darker: #e6e6e6;
  --color-light-darkest: #cccccc;

  /* for container spacing */
  --size-max-width-lg: 1366px;
  --size-max-width-md: 1140px;
  --size-padding: 1.5rem;

  /* for border radius */
  --border-radius-md: 0.75rem;
  --border-radius-sm: 0.5rem;
  --border-radius-xs: 0.25rem;

  /* box shadow */
  --box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  font-family: 'Poppins', 'Montserrat', 'Segoe UI', 'Roboto', sans-serif;
  color: var(--color-dark);
}

html {
  scroll-behavior: smooth;

  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
