---
import { getCollection } from "astro:content";
import { TbArrowRight } from "react-icons/tb";

import BlogPreview from "../BlogPreview.astro";

const blogs = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 2);
---

<section id="blog" class="section">
  <div class="container container--section">
    <div class="banner">
      <h2 class="banner__title">Latest blog posts</h2>
      <a href="/blog" class="link link--no-underline banner__link"
        >View all posts
        <TbArrowRight size="1em" />
      </a>
    </div>

    <BlogPreview blogs={blogs} />
  </div>
</section>

<style>
  .banner {
    margin-bottom: var(--spacing-lg);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: var(--spacing-md);
    flex-wrap: wrap;
  }

  .banner__title {
    margin: 0;
  }

  .banner__link {
    display: flex;
    align-items: center;
    gap: 0.25em;
  }
</style>
