---
import { getCollection } from "astro:content";
import GalleryPreview from "../GalleryPreview.astro";

const gallery = (await getCollection("gallery"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<section id="gallery" class="section">
  <div class="container container--section">
    <div class="banner">
      <h2 class="banner__title">Latest gallery posts</h2>
      <a href="/gallery" class="link">View all posts</a>
    </div>

    <GalleryPreview gallery={gallery} />
  </div>
</section>

<style>
  .banner {
    margin-bottom: var(--spacing-lg);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: var(--spacing-md);
    flex-wrap: wrap;
  }

  .banner__title {
    margin: 0;
  }
</style>
