---
import { Image } from "astro:assets";
import { FaGithub, FaLinkedin, FaAt } from "react-icons/fa6";
import me from "@assets/me.webp";
---

<section id="home" class="section hero">
  <div class="container container--section hero__container">
    <div class="hero__info">
      <h1 class="hero__title">
        <span class="hero__span hero__span--title"> Hi, my name is</span>
         Alexander Gabriel Ho.
      </h1>

      <p class="hero__description">
        I&apos;m a
        <span class="hero__span hero__span--highlight"
          >Full Stack Web Developer</span
        >
         based in Manila, Philippines. 📍
      </p>

      <div class="hero__links">
        <a
          href="https://github.com/alexndrho"
          aria-label="Github"
          target="_blank"
          rel="noreferrer"
          class="link--icon"
        >
          <FaGithub />
        </a>

        <a
          href="https://www.linkedin.com/in/alexander-gabriel-ho/"
          aria-label="LinkedIn"
          target="_blank"
          rel="noreferrer"
          class="link--icon"
        >
          <FaLinkedin />
        </a>

        <a
          href="mailto: ho.alexander.g@gmail.com"
          aria-label="email"
          class="link--icon"
        >
          <FaAt />
        </a>
      </div>
    </div>

    <div>
      <Image
        src={me}
        alt="Alexander Ho"
        draggable={false}
        class="hero__profile-pic"
        loading="eager"
      />
    </div>
  </div>
</section>

<style>
  .hero {
    height: 100vh;
    height: 100svh;
  }

  .hero__container {
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  /* info */
  .hero__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero__info,
  .hero__span {
    font-size: var(--font-size-xl);
    font-weight: 600;
  }

  .hero__span--title {
    margin-bottom: 0.25em;
    display: block;
  }

  .hero__span--highlight {
    padding-left: 0.15em;
    padding-right: 0.15em;
    border-radius: 0.25em;
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  .hero__title {
    margin: 0 0 0.125em 0;
    font-size: var(--font-size-6xl);
    font-weight: 700;
  }

  .hero__description {
    margin: 0 0 1em 0;
    line-height: 1.5em;
  }

  .hero__links {
    display: flex;
    gap: 0.75em;
  }

  /* hero-img */
  .hero__profile-pic {
    margin-bottom: 1.25rem;
    width: 7.5rem;
    height: 7.5rem;
    border: 0.25rem solid var(--color-dark);
    border-radius: 50%;
    user-select: none;
  }

  /* media queries */
  @media (--lg-viewport) {
    .hero__container {
      flex-direction: row;
      justify-content: space-between;
    }

    .hero__info,
    .hero__span {
      font-size: var(--font-size-2xl);
    }

    .hero__title {
      font-size: var(--font-size-7xl);
    }

    .hero__profile-pic {
      margin: 0 0 0 1.25rem;
      width: 20rem;
      height: 20rem;
    }
  }
</style>
