---
import ProjectCard from "@components/layouts/ProjectCard.astro";
import brainiacPreview from "@assets/project-previews/brainiac.webp";
import stickyThoughtsPreview from "@assets/project-previews/sticky-thoughts.png";
import blogPostPreview from "@assets/project-previews/blog-post.webp";
---

<section id="projects" class="section">
  <div class="projects__container container container--section">
    <h2>Projects</h2>

    <ProjectCard
      title="Sticky Thoughts"
      description="Post your thoughts, opinions, and experiences anonymously. Whether you're looking to vent about your day, share your political views, or connect with other people."
      image={stickyThoughtsPreview}
      techStack={["React", "Firebase", "Mantine"]}
      liveLink="https://stickythoughts.alexndrho.dev/"
      sourceLink="https://github.com/alexndrho/sticky-thoughts"
    />

    <ProjectCard
      title="Brainiac"
      description="Test your knowledge, the trivia app that challenges your mind."
      image={brainiacPreview}
      techStack={["NextJS", "Mantine", "API"]}
      liveLink="https://brainiac.alexndrho.dev/"
      sourceLink="https://github.com/alexndrho/brainiac"
    />

    <ProjectCard
      title="Blog"
      description="A blog posting website allows users to create an account, write blogs in Markdown format, and add photos, videos, and other media. Users canalso update their personal information and upload a profile picture."
      image={blogPostPreview}
      techStack={["MongoDB", "Express", "React", "Node", "Stitches"]}
      liveLink="https://blog-post-k6bm.onrender.com/"
      sourceLink="https://github.com/alexndrho/blog-post"
    />
  </div>
</section>

<style>
  .projects__container {
    display: flex;
    flex-direction: column;
  }
</style>
