.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);

  width: 100%;
  max-width: calc(var(--size-max-width-md) + (var(--spacing-md) * 2));
}

.container--nav {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}

.container--section {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.container--footer {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}
