.input {
  padding: 0.75em;
  border-radius: var(--border-radius-xs);
  outline: none;
  resize: none;
}

.input--primary {
  border: 0.075em solid var(--color-secondary);
}

.input--primary:focus {
  border-color: var(--color-primary);
}
