---
import { ToastContainer } from "react-toastify";
import "react-toastify/dist/ReactToastify.css";

import Layout from "@layouts/Layout.astro";
import Home from "@components/sections/Home.astro";
import About from "@components/sections/About.astro";
import Projects from "@components/sections/Projects.astro";
import Contact from "@/components/sections/Contact.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const canonicalHref = canonicalURL.toString().replace(/\/$/, "");
---

<Layout
  title="Alexander Gabriel Ho | Full Stack Web Developer"
  description="Full Stack Web Developer crafting modern web experiences. Explore my portfolio, projects, and skills. Open to collaboration and new opportunities."
  canonicalURL={canonicalHref}
  navBarFloat
>
  <main>
    <Home />
    <About />
    <Projects />
    <Contact />
  </main>

  <ToastContainer client:idle />
</Layout>
