---
import { ToastContainer } from "react-toastify";
import "react-toastify/dist/ReactToastify.css";

import Layout from "@layouts/Layout.astro";
import Home from "@components/sections/Home.astro";
import About from "@components/sections/About.astro";
import Projects from "@components/sections/Projects.astro";
import Contact from "@/components/sections/Contact.astro";
---

<Layout
  title="Alexander Gabriel Ho | Full Stack Web Developer"
  description="I'm Alexander Gabriel Ho. Check out my portfolio to learn more about me and my interests."
>
  <ToastContainer client:idle />

  <main>
    <Home />
    <About />
    <Projects />
    <Contact />
  </main>
</Layout>
