---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import { AstroFont } from 'astro-font';
---

<meta charset="utf-8" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content={description} />
<AstroFont
  config={[
    {
      src: [],
      preload: false,
      display: "swap",
      name: "Poppins",
      fallback: "sans-serif",
      cssVariable: "font-poppins",
      googleFontsURL: 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800',
    },
    {
      src: [],
      preload: false,
      display: "swap",
      name: "Montserrat",
      fallback: "sans-serif",
      cssVariable: "font-montserrat",
      googleFontsURL: 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800',
    },
  ]}
/>
<meta name="generator" content={Astro.generator} />
<slot name="head" />
<title>{title}</title>
