---
import { FaBarsStaggered } from "react-icons/fa6";

interface Props {
  // float prop is used to make the navbar float on the page
  float?: boolean;
}

const { float } = Astro.props;
---

<nav class={`nav${float ? " nav--float" : ""}`}>
  <div class="nav__container container container--nav">
    <a href="/#home" class="nav__logo nav__link link--dark"> alexndrho</a>

    <div class="nav__main-menu" data-main-menu>
      <a href="/#about" class="nav__link link--dark" data-main-menu-links>
        About</a
      >
      <a href="/#projects" class="nav__link link--dark" data-main-menu-links>
        Projects</a
      >
      <a href="/#contact" class="nav__link link--dark" data-main-menu-links>
        Contact</a
      >

      <div class="divider"></div>

      <a href="/blog" class="nav__link link--dark" data-main-menu-links>
        Blog</a
      >
    </div>

    <FaBarsStaggered
      aria-label="menu"
      className="nav__ham-menu"
      data-ham-main-menu-button
    />
  </div>
</nav>

<script>
  const mainMenu = document.querySelector("[data-main-menu]");
  const mainMenuButton = document.querySelector("[data-ham-main-menu-button]");
  const mainMenuLinks = document.querySelectorAll("[data-main-menu-links]");

  const toggleMainMenu = () => {
    mainMenu?.classList.toggle("nav__main-menu--show");
  };

  const closeMainMenu = () => {
    mainMenu?.classList.remove("nav__main-menu--show");
  };

  mainMenuButton?.addEventListener("click", toggleMainMenu);

  mainMenuLinks?.forEach((link) => {
    link.addEventListener("click", closeMainMenu);
  });
</script>

<style>
  .nav {
    /* position: fixed;
    top: 0; */

    width: 100%;
    background-color: var(--color-light);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 98;
  }

  .nav--float {
    position: fixed;
    top: 0;
  }

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__logo {
    font-size: var(--font-size-xl) !important;
    font-weight: 700 !important;
    user-select: none;
  }

  .nav__main-menu {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    z-index: 98;

    width: 100vw;
    height: 100vh;
    padding: 5em;

    background: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;

    transition: transform 0.2s ease-out;
  }

  /* .show-nav is added to nav .main-menu when the menu is open in mobile view */
  .nav__main-menu--show {
    transform: translateX(0);
  }

  .nav__link {
    text-decoration: none;
    font-size: var(--font-size-2xl);
    font-weight: 600;

    transition: color 0.2s ease-out;
  }

  .divider {
    border-top: 0.125rem solid var(--color-secondary);
    width: 100%;
  }

  .nav__ham-menu {
    font-size: var(--font-size-xl);
    cursor: pointer;
    z-index: 99;
  }

  /* media queries */
  @media (--lg-viewport) {
    .nav__ham-menu {
      display: none;
    }

    .nav__main-menu {
      position: static;
      transform: translate3d(0, 0, 0);
      width: auto;
      height: auto;
      padding: 0;
      background: none;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 2em;
    }

    .nav__link {
      font-size: var(--font-size-md);
    }

    .divider {
      border-inline-start: 0.125rem solid var(--color-secondary);
      height: auto;
      align-self: stretch;
    }
  }
</style>
