---
import { TbArrowUp } from "react-icons/tb";
---

<div class="button-container hidden">
  <button class="btn btn--primary btn--square btn--dashed-effect">
    <TbArrowUp />
  </button>
</div>

<style>
  .button-container {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 90;
    font-size: var(--font-size-2xl);
    transition:
      opacity 0.25s,
      visibility 0.25s,
      transform 0.25s; /* Add transform to the transition */
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(
      100%
    ) !important; /* Remain hidden when .hidden is applied */
  }
</style>

<script>
  const scrollToTopButton = document.querySelector(".button-container");

  if (scrollToTopButton) {
    window.addEventListener("scroll", () => {
      if (window.scrollY > 20) {
        scrollToTopButton.classList.remove("hidden");
      } else {
        scrollToTopButton.classList.add("hidden");
      }
    });

    scrollToTopButton.addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });
  }
</script>
