.contact__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact__input,
.contact__textarea {
  margin-top: var(--spacing-md);
  width: 100%;
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.contact__name {
  margin-top: 0;
}

.contact__submit {
  margin-top: var(--spacing-lg);
}

/* media queries */
@media (--lg-viewport) {
  .contact__input,
  .contact__textarea {
    width: 75%;
  }
}
